# Source: https://github.com/fhempy/fhempy

# ATTENTION
# This is an example, please verify your directories and user
#
# Copy this file to /etc/systemd/system/fhempy.service
# Start service with "sudo systemd start fhempy"
#

[Unit]
Description=FHEM PythonBinding
Wants=network.target
After=network.target

[Service]
User=pi
Group=dialout
WorkingDirectory=/home/pi/
ExecStart=/home/pi/.local/bin/fhempy
Restart=always

[Install]
WantedBy=multi-user.target