tox
pytest
pytest-env
pytest-mock
pytest-asyncio
requests-mock
async-upnp-client
python_semantic_release
websockets==10.0
importlib_metadata==4.8.1
cryptography==3.3.2
zeroconf==0.36.12
aiohttp[speedups]==3.7.4.post0
markdown2==2.4.2
dbus-python==1.2.18