tox
pytest
pytest-env
pytest-mock
pytest-asyncio
requests-mock
async-upnp-client
python_semantic_release
websockets==10.3
importlib_metadata==4.8.1
cryptography==37.0.4
zeroconf==0.36.12
aiohttp[speedups]==3.8.1
markdown2==2.4.2
dbus-python==1.2.18
requests==2.26.0