tox
pytest
pytest-env
pytest-mock
pytest-asyncio
requests-mock
async-upnp-client
websockets==10.3
importlib_metadata==4.11.3
cryptography==37.0.2
zeroconf==0.38.6
aiohttp[speedups]==3.8.1
markdown2==2.4.3
dbus-python==1.2.18
requests==2.27.1