tox
pytest
pytest-env
pytest-mock
pytest-asyncio
requests-mock
async-upnp-client
python_semantic_release
websockets==11.0.3
importlib_metadata==6.1.0
pycryptodomex==3.18.0
zeroconf==0.64.1
aiohttp[speedups]==3.8.5
markdown2==2.4.10
requests==2.31.0
async-upnp-client==0.31.2
