# This is a basic workflow to help you get started with Actions

name: release

# Controls when the action will run. 
on:
  #release:
  #  types: [created]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: "master"

      - name: Setup Perl
        uses: shogo82148/actions-setup-perl@v1.8.3
        with:
          perl-version: 5

      # Runs a single command using the runners shell
      - name: Update controls file
        run: perl prepare_update.pl > controls_pythonbinding.txt

      - name: Commit changes
        uses: EndBug/add-and-commit@v5
        with:
          author_name: Dominik
          author_email: dominik.karall@gmail.com
          message: "action: auto update controls"
          branch: master
          push: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*
